.vscode
/data
/checkpoints
/results
/results_old
/logs
/predictions
/layers/Graph.py

**/__pycache__/

draw_hot_map.py
test.py
predict.py

*.log
*.pdf
FD001RUL.png
FD001training&validationLosses.png
BestTestLoss.txt
BestTestLoss1.txt
erecord.txt
FD002training&validationLosses.png
FD003RUL.png
FD003training&validationLosses.png
FD004training&validationLosses.png
mamba4rul1.png
mamba4rul2.png
mamba4rul3.png
mamba4rul4.png
record.txt
training.png
training&validationLosses.png
seatemp/checkpoint/best_model.pt
seatemp/V1classrecord.txt
.gitignore
.gitignore
seatemp/temprecord.txt
.gitignore
seatemp/classrecord.txt
N-CMPASS/1minvalloss_epoch.pt
FD001/FD001_No.2_engineRUL.png
checkpoint/FD001minvallossinGridSearch.pt
checkpoint/FD002minvalloss_epoch.pt
checkpoint/FD002minvallossinGridSearch.pt
checkpoint/FD003minvallossinGridSearch.pt
checkpoint/FD004minvallossinGridSearch.pt
checkpoint/FD0012562256.pt
checkpoint/FD0012562256v1.pt
checkpoint/temp.pt
checkpoint/TmambaFD002.pt
FD001/FD001_No.2engineRUL.png
FD001/FD001_No.43_engineRUL.png
FD001/FD001_No.84_engineRUL.png
FD002/FD002_No.1_engineRUL.png
FD002/FD002_No.2_engineRUL.png
FD002/FD002_No.26_engineRUL.png
FD002/FD002_No.27_engineRUL.png
FD002/FD002_No.57_engineRUL.png
FD002/FD002_No.58_engineRUL.png
FD002/FD002_No.60_engineRUL.png
FD002/FD002_No.82_engineRUL.png
FD002/FD002_No.84_engineRUL.png
FD002/FD002_No.100_engineRUL.png
FD002/FD002_No.160_engineRUL.png
FD002/FD002_No.161_engineRUL.png
FD002/FD002_No.162_engineRUL.png
FD002/FD002_No.170_engineRUL.png
FD002/FD002_No.189_engineRUL.png
FD002/FD002_No.222_engineRUL.png
FD002/FD002_No.223_engineRUL.png
FD002/FD002_No.259_engineRUL.png
FD004/FD004_No.15_engineRUL.png
FD004/FD004_No.53_engineRUL.png
FD004/FD004_No.158_engineRUL.png
FD004/FD004_No.221_engineRUL.png
FD004/FD004_No.222_engineRUL.png
FD004/FD004_No.223_engineRUL.png
FD004/FD004RUL.png
seatemp/train_validation_accuracy.png
seatemp/train_validation_loss.png
